button {
    padding: 10px 20px;
    margin: 1em;
    font-size: 16px;
    background-color: $main-color;
    color: $accent-color;
    border-radius: 10px;
    border-color: $accent-color;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
}

.orange-button {
    background-color: $accent-color;
    color: $main-color;
    border-color: $main-color;
}

.orange-button.bottom {
    margin-top: auto;
    align-self: flex-start
}

button:hover {
    background-color: #0056b3;
}