@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$main-font: 'Noto Sans', sans-serif;
$text-font: Arial, sans-serif;

$background-color: #f2f2f2;
$main-color: #222831;
$secondary-color: #393e46;
$accent-color: #f96d00;
$white: #fff;
